body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: 'PT Serif', serif;
  font-size: 14px;
  color: #666;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

/* main screen is at most 1024 pixels wide and at least 320 pixels wide*/
#main {
  max-width: 1024px;
  min-width: 320px;
  margin: 0 auto;
}

/* h1 is used for the name of the person whose resume this is */
h1 {
  font-family: "Lato",sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  color: #00c8ff;
  line-height: 48px;
  display: block;
}

/* h2 is used for the headers of our main sections: Work, Projects, Education, etc. */
h2 {
  font-family: "Lato",sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #00c8ff;
  padding: 0;
  margin-bottom: 20px;
}

/* h3 is used in the header of our minor sections: Welcome, Skills */
h3 {
  font-style: italic;
  font-size: 20px;
  line-height: 22px;
}

/* h4 is used in the title of the popup window when you tap a map marker */
h4 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 17px;
  margin: 0 0 0 -10px;
  padding: 0;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;
}

p {
  margin-top: 10px;
}

a {
  color: #333;
  text-decoration: none;
  margin-top: 10px;
/*  display: block; *** this was preventing inline display for text-employer */
}

hr {
  margin: 10px 0 20px 0;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #aaa;
}

.hr90 {
  margin-right: 5%;
  margin-left: 5%;
}

/* for clearing the float */
.clear-float {
  clear: both;
}

#topContacts {
  padding: 20px 0 0 0;
}

#topContacts li {
  font-family: "Lato",sans-serif;
  font-style: normal;
  font-size: 14px;
  list-style-type: none;
}

/* header class for Work, Projects, Education and Map sections */
#workExperience h2,
#projects h2,
#education h2,
#mapDiv h2 {
  font-family: "Lato",sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #00c8ff;
  margin-bottom: 10px;
}

/* these classes are used in the Work Experience and Education sections */
.employer-wrapper,
.school-wrapper {
  font-family: "Lato",sans-serif;
  font-size: 16px;
  color: #333;
  float: left;
}

.education-entry p,
.work-entry p {
  margin: 2px 0 30px 0;
}

.school-text,
.employer-text {
  text-transform: uppercase;
  font-weight: bold;
  display: inline;
}

.major-text
.position-text {
  display: inline;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  float: right;
  display: inline;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  display: block;
}

/* these classes are used in the Education section only */
.education-entry h3 {
  font-size: 16px;
  font-weight: bold;
  color: #00c8ff;
  padding: 0 0 10px 0;
}

/* these classes are used in the Projects section */

/* this is the flex container for the project thumbnails */
#projects-container {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 5%;
  justify-content: center;
}

/* this is for each flex child item */
.project-entry {
  width: 270px;
  padding: 10px;
  text-align: center;
}

.project-entry p {
  margin: 2px 0 10px 0;

}

.project-entry a {
  font-family: "Lato",sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #333;
}

.project-entry .date-text {
  color: #333;
  display: block;
  float: none;
}

.thumbnail  {
  width: 270px;
  height: 270px;
  overflow: hidden;
  margin: 5px auto;
  border: 2px solid #bbb;
  background-position: center center;
  background-size: cover;
}

/* these classes are used in the Welcome and Skills sections */
#welcome-wrapper,
#skills-wrapper {
  width: 45%;
  display: block;
}

#welcome-wrapper {
  float: left;
}

#skills-wrapper {
  float: right;
}

#welcome-h3,
#skills-h3 {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  padding: 0;
  color: #00c8ff;
}

#skills-wrapper li {
  padding-top: 10px;
}

.skill-label {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #333;
  margin-top: 8px;
}

.orange {
  background-color: #f5ae23;
}

/* this is no longer orange but I wanted to keep the helper.js strings intact */
.orange-text {
  color: #ccc;
  float: right;
  margin-left: 15px;
  margin-right: 15px;
  text-transform: uppercase;
}

/* damn, had to add this at the last minute to fix footer */
#footerContacts .orange-text {
  font-family: "Lato", sans-serif;
  float: none;
}

/* similarly, this is no longer white */
.white-text {
  font-weight: bold;
  color: #888;
  float: right;
}

/* damn, had to add this too */
#footerContacts .white-text {
  font-family: "Lato", sans-serif;
  float: none;
  color: #fff;
  font-weight: normal;
}

/* and gray ain't gray, either! */
.gray {
  clear:both;
}

.dark-gray {
  background-color: #4a4a4a;
}

#header {
  color: #aaa;
  background-color: #fff;
  padding: 0 5%;
}

#nameWrapper {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  float: left;
  padding: 20px;
}

#topContacts.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

#footerContacts.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  display: block;
  float: left;
  max-width: 80px;
  width: 8%;
  height: auto;
}

span {
  padding: 0;
}

#lets-connect h2 {
  text-align: center;
  font-family: "Lato",sans-serif;
}

/* these classes are used for the map */
#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

/* these classes are used for the slideshow */
#slideshow-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  top: 0;
  left: 0;
  display: none;
}

#slideshow-bjqs {
}

#slideshow-description {
  position:fixed;
  top: 0;
  padding: 1% 5%;
  font-family: "Lato",sans-serif;
  color: #ccc;
  background-color: rgba(0,0,0,.5);
  font-size: 18px;
  font-weight:normal;
  text-align: center;
}

#slideshow-caption-title {
  color: #cc0;
}

#container {
  max-width: 620px;
  margin: 0 auto;
  padding-bottom: 80px;
}

#banner-fade,
#banner-slide{
  margin-bottom: 60px;
}

ul.bjqs-controls.v-centered li a {
  display: block;
  padding: 0 5px;
  background: rgba(0,0,0,0.25);
  font-size: 50px;
  font-weight: normal;
  font-family: "Arial",sans-serif;
  color: #fff;
  text-decoration: none;
}

ul.bjqs-controls.v-centered li a:hover {
  background: rgba(0,0,0,0.5);
  color: #fff;
}

ol.bjqs-markers li a {
  padding: 5px 10px;
  background: #000;
  color: #fff;
  margin: 5px;
  text-decoration: none;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
  background: #999;
}

p.bjqs-caption{
  background: rgba(255,255,255,0.5);
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width: 900px) {
  #lets-connect {
    margin-top: 5%;
  }
  #nameWrapper {
    padding: 10px 20px;
  }
  #topContacts li {
    font-size: 12px;
  }
}

/* whenn we get below 760 pixels or so we start losing items
   and centering others */
@media only screen and (max-width: 760px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    display: none;
  }
  #nameWrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  #topContacts {
    width: 250px;
    margin: 0 auto;
    text-align: center;
    float: none;
    padding-top: 0;
  }
  #topContacts li {
    float: none;
    text-align: center;
  }
  .orange-text {
    text-transform: none;
    float: left;
  }
  .white-text {
    float: left;
  }
  #welcome-wrapper,
  #skills-wrapper {
    width: 100%;
    text-align: left;
    float: none;
  }
  #welcome-wrapper {
    margin-bottom: 20px;
  }
}
